* {
    margin: 0;
    font-family: 'Work Sans';
}

/* banner styles */
.banner {
    text-align: right;
    

}

.banner-title {
    font-weight: 700;
    font-size: 65px;
    color: #FFFFFF;
    padding-top: 216px;
    margin-bottom: 24px;
    margin-right: 230px;
    margin-left: 845px;


}

.banner-description {
    font-weight: 400;
    font-size: 16px;
    margin-top: 24px;

    /* margin-bottom: ; */
    margin-right: 230px;
    margin-left: 876px;
    color: #FFFFFF;



}

.header {
    background-image: url(../images/banner/banner3.png);
    background-size: cover;
   
    height: 950px;
    
    width: 100%;


}

.white-button {
    background: #FFFFFF;
    border-radius: 5px;
    margin-top: 32px;
    margin-right: 230px;
    margin-bottom: 166px;
    margin-left: 1210px;
    height: 64px;
    color: #005FAC;
    font-weight: 600;
    font-size: 20px;
    border: 0;
    padding: 20px 25px;
}

.text-primary {
    color: #005FAC;

}

main {
    max-width: 1140px;
    margin: 0 auto;
}

/* failure section styles */
.failure {
    
    display: flex;

    
    margin-top: 120px;
    margin-bottom: 121px;
    margin-right: 200px;
    margin-left: 220px;
    align-items: center;


}

.section-title {
    font-weight: 700;
    font-size: 40px;
    color: #151414;


}

.section-description {
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    margin-top: 24px;
    margin-bottom: 16px;

}

.section-list {
    padding-left: 0px;
}

div li {
    list-style: none;
    margin-bottom: 8px;
}

.section-header {
    margin-top: 180px;
    text-align: center;
    font-size: 40px;
    line-height: 47px;
    color: #151414;
    margin-bottom: 50px;
}

.My-Plans {
    display: flex;
    justify-content: space-between;
    margin: 0 270px;
    text-align: center;
}

.skill-title {
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    margin-bottom: 16px;
    margin-top: 25px;

}
.call-section{
    margin-top: 130px;
    margin-left: 230px;
    margin-right: 230px;
    margin-bottom: 130px;
    height: 353px;
    
    background-image:
    linear-gradient(to right, rgba(0, 95, 172, 1), rgba(0, 95, 172, 0)),
    url('../images/watch.png');
    background-repeat: no-repeat;
  
background-size: cover;
/* padding: 50px 60px; */
    
}

.header2-title {
    
    border-radius: 5px;
    width: 160px;
    height: 64px;
    margin-bottom: 45px;
    padding-left: 66px;
    padding-top: 56px;
   
}

.call-now {
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #005FAC;
    padding: 21px 36px;
    background: #FFFFFF;
   margin-left: 66px;
   border: 0px;

}
/* contact styles */
.contact .section-title{
    text-align: left;
    font-weight: 700;
font-size: 45px;
color: #F8F8F8;


}
.contact{
    display: flex;

    justify-content: space-around;
    
    background-color: black;
    color: #FFFFFF;
    padding-top: 60px;
    padding-bottom: 60px;
}
.section-title-subscribe{
    font-size: 25px;
line-height: 29px;
color: #FFFFFF;
}

.footer-p{
    padding-top: 10px;
    padding-bottom: 10px;
    width: 30%;
}
.btn-subscribe{
   background-color: #005FAC;
   font-size: 20px;
   font-weight: 600;
   color: #FFFFFF;
   padding-top: 10px;
   padding-bottom: 10px;
   padding-right: 10px;
   padding-left: 10px;
   margin-top: 31px;


}
.input-title{
    background: #151414;
    font-weight: 400;
    font-size: 18px;
    color: #F3F3F3;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 31px;
    border-radius: 5px;
}
.section-main{
    padding-right: 230px;
}
.section2-main{
    padding-left: 230px;
}
.section3-main{
    margin-top: 24px;
    margin-bottom: 16px;
}
.section4-main{
    margin-bottom: 74px;
}
.section5-main{
    margin-bottom: 143px;
    text-decoration: none;
}
.wrapper{
    margin-left: 100px;
}
.green{
    color: green;
}